body{
	margin: 0;
	padding:0;
}
#main-heading{
	color:#009933;
}
.pad{
	padding-bottom: 20px;
}
.logout{
	float:right;
	padding-right: 30px;
	padding-top: 60px;
}
.navbar-right{
	padding-right: 40px;
}
.navbar-brand{
	font-size:25px;
	padding-left:30px;
}
.navbar-left{
	padding-left:30px;
	padding-top:5px;
}
#home{
	font-size:15px;
}
#user{
	font-size: 15px;
	color:white;
}
.userNav{
	padding-right:100px;
}
.brands{
	padding-left:20px;
}
.container-fluid{
	margin:0;
	padding:0;
}
.navbar{
	z-index:4;
}
.side-nav{
	
	position:fixed;
	width:100%;
	background-color:#009933;
	height:100vh; 
	z-index:3;
	padding-top:60px;
}
.pull-right{
	padding-right: 30px;
}
.signUp{
	position: absolute;;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
.signUp body{
		background-image: url("/assets/images/phone_party.jpeg");
	background-color: #cccccc;
	background-size: cover;
}
.thumbnail {
   	margin-left: 30px;
    box-shadow:0;
}
.thumbnail p{
	margin-left:20px;
}
.caption{
	text-align: center;
}
.side-nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.side-nav ul li{
	padding: 25px 15px;
	border-bottom: 1px solid #333;
}
.side-nav ul li a{
	color: #333;
	text-decoration: none;
	font-weight:bold;
}
.side-nav ul li a i{
	color: #333;
}

.main-content{
	padding-top:80px;
	
}
.main-content img{
	 border-radius:2;
}
@media (min-width: 600px){
	.side-nav{
		width: 80px;
	}
	.side-nav ul li {
		text-align: center;
	}
	.side-nav ul li span:nth-child(2){
		display: none;
	}
	.side-nav ul li a i{
		font-size: 250%;
	}
	.main-content{
		margin-left:80px;
	}
}

@media (min-width: 1000px){
	.side-nav{
		width: 200px;
	}
	.side-nav ul li{
		text-align: left;
	}
	.side-nav ul li span:nth-child(2){
		display:inline;
	}
	.side-nav ul li a i{
		font-size: 150%;
	}
	.main-content{
		margin-left:216px;
	}
}


