

<!--<div class="container-fluid main-content" >
<a href="" ng-click="logout()" class="logout">logout</a>
  <div ng-init="authUser()" >
  
 
      <div ng-init="brandDetails()">
      <div ng-repeat="brand in brandDetails">
        <p>the brand name is {{brand.attributes.name}}</p>
        <p>the brand company Url is {{brand.attributes.companyUrl}}</p>
        <p>the brand image url is is {{brand.attributes.imageUrl}}</p>
        <p>the brand manufacturer is {{brand.attributes.manufacturer}}</p>
        <a class="btn btn-primary" href="#/pictures/{{brand.id}}">View Pictures</a> 
        <a class="btn btn-primary" href="#/trademarks/{{brand.id}}">View Trademarks</a>  

        </div>
    </div>
  
  </div>
  </div> -->
 

<a href="" ng-click="logout()" class="logout">logout</a>
<div class="panel panel-default main-content" ng-init="authUser()">
<a href="#/brands">Back To Brands</a>
    <div ng-init="brandDetails()">
        <div ng-repeat="brand in brandDetails">
            <!-- here we can do the styling for the brands-->
              <div class="panel-heading">
                  <h2 class="panel-title">Brand Details</h2>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-md-3">
                         <img src="{{brand.attributes.imageUrl}}"> 
                      </div>
                      <div class="col-md-8">
                          <h3> {{brand.attributes.name}}</h3>
                          <ul class="list-group">
                          <li class="list-group-item">Manufacturer:{{brand.attributes.manufacturer}}</li>
                          <li class="list-group-item">Supplier Name: {{currentUser.get("username")}}</li>
                          </ul>
                          <a target="_blank" href="{{brand.attributes.companyUrl}}" class="btn btn-primary"> Go to website</a>
                      </div>
                  </div>
              </div>
            <!-- end of repeated brands -->
            <a class="btn btn-primary" href="#/pictures/{{brand.id}}">View Pictures</a> 
        <a class="btn btn-primary" href="#/trademarks/{{brand.id}}">View Trademarks</a> 
        </div>
    </div>    

</div>