
    

 

<!--<div class="panel panel-default"> 
  

  <div ng-init="showBrands()">
  	<div ng-repeat="brand in brands">
  	<p>  	this is the brand name {{brand.attributes.name}}
  		and this is the id {{brand.id}}

  	 <a class="btn btn-primary" href="#/brandDetails/{{brand.id}}">View Details</a> 

  		
  		
  	</p>
  	</div>
  </div>
                -->
  <!-- Brand Thumnail View-->
<a href="" ng-click="logout()" class="logout">logout</a>
<div class="main-content">

<div ng-init="authUser()">
  <div class="row">
  <div ng-init="showBrands()">
      <div ng-repeat="brand in brands">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{brand.attributes.imageUrl}}" alt="">
          <div class="caption">
            <h3>{{brand.attributes.name}}</h3>
            
            <p><a class="btn btn-primary" href="#/brandDetails/{{brand.id}}">View Details</a> </p>
          </div>
        </div>
      </div>
</div>
</div>
</div>
  
  <!-- Add brand Panel -->
  <div class="panel-heading">
    <h3 class="panel-title">Add Brands</h3>
  </div>
  <div class="panel-body">
      <div class="row">
      <form ng-submit="addBrand()">
            <div class="col-md-6">
            
              <label> Brand Name </label>
              <input type = "text" class="form-control" ng-model="brand1.name" name="name" id="name" placeholder ="Brand name"> <!-- ng-model binds the form data -->
            </div>
            
            <div class="col-md-6">
              <label> CompanyUrl </label>
              <input type = "text" class="form-control" ng-model="brand1.companyUrl" name="companyUrl" id="companyUrl" placeholder ="Company Url">
            </div>
             <div class="col-md-6">
              <label> imageUrl </label>
              <input type = "text" class="form-control" ng-model="brand1.imageUrl" name="imageUrl" id="imageUrl" placeholder ="Image Url">
            </div>
             <div class="col-md-6">
              <label> Manufacturer </label>
              <input type = "text" class="form-control" ng-model="brand1.manufacturer" name="manufacturer" id="manufacturer" placeholder ="manufacturer">
            </div>
            
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
  </div>
</div> 
</div>


