<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PartyOn</title>
 

  <link rel="stylesheet" href="assets/css/first.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
<div class="container-fluid" id="first-page">
	<img src="assets/images/logo.png" height="200px"/>
	<h1>PartyOn</h1>
  <a href="#/login" class="btn btn-primary btn-lg active middle-btn" role="button">Login</a>
  <a href="#/register" class="btn btn-primary btn-lg active middle-btn" role="button">Sign Up</a>
  </div>

  <script>
  $("#first-page").css("height",$(window).height());
  </script>
</body>
</html>