<li> <a href="#/logout" ng-click="logout()" class="logout">logout</a></li>
<div ng-init="authUser()" class="container-fluid main-content">


	<div class="row">
		
		
	  <div class="col-xs-6 col-md-3">
	    <a href="" class="thumbnail">
	      <img id="pics1" src="/assets/images/beer_perception.png" />
	      <img id="pics1" src="/assets/images/beer_ratings.png" />
	     
	      
	    </a>
	  
	  
	</div>
	 <div class="col-xs-6 col-md-3">
	    <a href="" class="thumbnail">
	     
	      <img id="pics1" src="/assets/images/beer_production.png" />
	       <img id="pics1" src="/assets/images/beer_stocks.png" />
	      
	    </a>
	  
	  
	</div>
	 <div class="col-xs-6 col-md-6">
	    <a href="" class="thumbnail">
	     
	      <img id="pics1" src="/assets/images/price_distribution.png" />
	       
	      
	    </a>
	  
	  
	</div>
	</div>
</div>
</div>
