
<body>
<div class="panel panel-default signUp"> <!-- Runs whatever function we put into ng-init-->
  <div class="panel-heading">
    <h3 class="panel-title"><h2>Sign Up</h2></h3>
  </div>
  <div class="panel-body">
   		<div class="row">
      <form ng-submit="addUser()">
       			<div class="col-md-8">
            
              <label> Username </label>
              <input type = "text" class="form-control" ng-model="user1.username" placeholder ="Username"> <!-- ng-model binds the form data -->
            </div>
            <div class="col-md-8">
              <label> Password </label>
              <input type = "password" class="form-control" ng-model="user1.password" placeholder ="Password">
            </div>
            <div class="col-md-8">
              <label> Email Address </label>
              <input type = "text" class="form-control" ng-model="user1.email" placeholder ="email">
            </div>
             <div class="col-md-8">
              <label> Company Name </label>
              <input type = "text" class="form-control" ng-model="user1.companyName" placeholder ="Company Name ">
            </div>
            <div class="col-md-8">
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <a href="#/login" class="btn btn-primary middle-btn" role="button">Login</a>
            </div>
        </form>
   		</div>
  </div>
</div>
</body>