<a href="" ng-click="logout()" class="logout">logout</a>
<div class="container-fluid main-content">
<a href="#/pictures"> Back To Pictures</a>

<div ng-init="authUser()">
	<div class="row">
		<div ng-init="showPicturesAll()">
		<div ng-repeat="picture in pictures">
	  <div class="col-xs-6 col-md-3">
	    <a href="#" class="thumbnail">
	      <img id="pics" src="{{picture.get('image').url()}}" />
	    </a>
	  </div>
	  </div>
	</div>
	</div>
</div>
<div>
  <button ng-click="logout()" class="btn btn-default">Logout</button>

  </div>
</div>
