<div class ="container-fluid main-content" ng-init="authUser()">
  
    <p class="logout"> this should be the test for the picture deletion </p>
    <p class="logout"> this should be the test for the picture deletion </p>
    <p class="logout"> this should be the test for the picture deletion </p>
    <p class="logout"> this should be the test for the picture deletion </p>
    <p class="logout"> this should be the test for the picture deletion </p>
    <p class="logout"> this should be the test for the picture deletion </p>
    <p class="logout"> this should be the test for the picture deletion </p>
    <p class="logout"> this should be the test for the picture deletion </p>
    <p class="logout"> this should be the test for the picture deletion </p>
  </div>
</div>