<li> <a href="#/logout" ng-click="logout()" class="logout">logout</a></li>
<div ng-init="authUser()" class =" container-fluid main-content">
<a href="#/brands">Back To Brands</a>
<a type="button" class="btn btn-primary btn-lg active middle-btn" id="myBtn" data-toggle="modal" data-target="#myModal">Add a Trademark</a>

	<div class="row">
		<div ng-init="showTrademarks()">
		<div ng-repeat="picture in trademarks">
			  <div class="col-xs-6 col-md-3">
			    <a href="#" class="thumbnail">
			      <img id="pics" src="{{picture.get('image').url()}}" />
			    </a>
			    <div class="caption">
			   <h4> {{picture.get('name')}}</h4>
			    <a class="btn btn-primary"   ng-click="deleteTrademark(picture.id)">Delete</a>
			    </div>

			  </div>

	  </div>
	</div>
	</div>

 

 	<!-- Start of modal content -->
 	  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Uploads</h4>
        </div>
        <div class="modal-body">
           <div class="panel-body">
    <div>
 		<h3> Add A Trademark </h3>
 		<form enctype="multipart/form-data">
		  
		  <div class="col-md-8">
		  <label>Trademark name</label>
		  <input type="text" class="form-control" name="Watermark Name" placeholder="Trademark Name" ng-model="trademarkName.name"><br>
		  </div>
		  
		  <div class="col-md-8">
		  <label>Description</label>
		  <input type="text" class="form-control" name="Description" placeholder="Description" ng-model="trademarkName.description">
		  </div>
		  <div class="col-md-8 pad">
		  <label>Choose File</label>
	 	<img id="imageEl" src="" alt="" />
	 	
	 	<input type="file" id="inputEl" ng-model="picture" />
	 	</div>
	 	<div class="col-md-8 pad">
	 	<button class="btn btn-primary" id="buttonEl" ng-click="addTrademark()">Submit</button>
	 	</div>
	 	</form>
 	</div>
  </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          
        </div>
      </div>
    </div>
  </div> 
 	
</div>
